<ion-header>
  <ion-toolbar>
      <ion-title text-center>
          Login
      </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-card>
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input placeholder="Enter your email" [(ngModel)]="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input type="password" placeholder="Enter your password" [(ngModel)]="password"></ion-input>
        </ion-item>
  </ion-card>  
  <br><br>
  <ion-button expand="block" size="large" (click)="login()">Log in</ion-button>
  <br>
</ion-content>